.payment-system-support {
    width: 216px;
    height: 31px;
    background-image: url(../img/payment.png);
    background-size: cover;

}
.copyright {
    margin-top: 86px;
    white-space: nowrap;
}