.row {
    display: inline-block;
    width: auto;
    max-width: $containerWidth;
}

.half {
    vertical-align: top;
    display: inline-block;
    width: auto;
    max-width: 49%;
}

.forth {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    max-width: 24%;
}
