ul {
    list-style-type: none;
    padding: 0;
    ul li {
        display: inline-block;
    }
}
.services-menu a{
    text-transform: capitalize;
}
.platform-menu {
    list-style-type: none;
    padding: 0;
    margin: 40px 0 0;
    li {
        display: inline-block;
        &:not(:first-child) {
            margin-left: 25px;
        }
    }
    a {
        display: block;
        width: 32px;
        height: 32px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        background-size: cover;
        &[href*="play.google.com"] {
            background-image: url(../img/play.png);
        }
        
        &[href*="apps.apple.com"] {
            background-image: url(../img/astore.png);
        }

        &[href*="apps.microsoft.com"] {
            background-image: url(../img/wstore.png);
        }
    }

}
.contact-menu {
    ul li {
        &:not(:first-child) {
            margin-left: 12.5px;
        }
        a {
            line-height: 0; 
            font-size: 0;
            color: transparent;
            background-image: url(../img/social.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 14px;
            height: 14px;
            display: inline-block;
            &[href*="facebook.com"] {
                background-position: -2px 0px;
            }
            &[href*="linkedin.com"] {
                background-position: -26px 0px;
            }
            &[href*="twitter.com"] {
                background-position: -52px 0px;
            }
        }
    }
}